.container {
  padding: 1rem;

  overflow-x: hidden;

  &--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
